.App {
  text-align: center;
}


.projects-list-wrapper a {
  text-decoration: none;
  color: black;
}

.project-wrapper {
  border: 1px solid black;
}

.project-wrapper:hover {
  background: lightgrey;
  transform: scale(1.1);
}